body {
  background-color: #ffffff;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 293px;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  display: flex;
  list-style: circle;
  padding: 132px 0 138px;
}

.header__links-list-item {
  margin-left: 28.2px;
  padding-left: 4px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  padding-left: 50px;
  list-style-type: none;
}

.header__link__prosmotr {
  padding-left: px;
}

.header__link__ob_auction {
  margin-left: -8px;
  padding-left: 10px;
}

.header__logo {
  display: block;
  width: 137px;
  height: 105px;
  margin-bottom: 3px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;

  margin-right: 50px;
  margin-top: 95px;
  margin-bottom: 100px;
  margin-left: 185px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4.5px;
  line-height: 1.37;
  
  max-width: 240px;
  font-style: normal;
  font-family: inherit;
  font-weight: normal;
}
